# Assignment 6 (Pandas)
#### 70 points

__(Instruction)__ The purpose of this assignment is to practice using Pandas module

* We did similar problems in this homework before in Assignment #3 using loops and conditions. In assignment #6, please use functions in Pandas. No loops and conditions are allowed.

Due date: April 14th, 2022, 11:59pm

In [1]:
import numpy as np
import pandas as pd

### Question

### (a) read the csv file named 'earthquake.csv' under the same current folder, and assign the data to a variable named 'eq'
(5 points)

In [2]:
#Enter your codes here
eq = pd.read_csv('earthquake.csv')
eq.describe()

,Year,Month,Day,Mag,Lat,Lon,Depth km,IRIS ID,Timestamp
count,1000.0,1000.0,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1.000000e+03
mean,2019.0,2.0,8.336000,1.783000,39.622172,-112.980629,24.353100,1.100397e+07,1.549656e+09
std,0.0,0.0,1.149097,1.101092,18.279838,61.241554,45.350977,3.639370e+02,9.934298e+04
min,2019.0,2.0,7.000000,0.100000,-52.976100,-179.543700,-3.000000,1.100333e+07,1.549502e+09
25%,2019.0,2.0,7.000000,1.100000,33.467000,-149.908350,2.900000,1.100363e+07,1.549569e+09
50%,2019.0,2.0,8.000000,1.600000,36.953000,-118.924750,9.600000,1.100399e+07,1.549645e+09
75%,2019.0,2.0,9.000000,2.100000,60.338525,-116.288800,32.350000,1.100429e+07,1.549743e+09
max,2019.0,2.0,11.000000,5.900000,69.572000,178.160500,573.900000,1.100456e+07,1.549858e+09

### (b) Calculate the average magnitude of earthquakes in this catalog
(10 points)

In [3]:
#Enter your codes here
eq['Mag'].mean()

1.7830000000000006

### (c) Calculate the average depth of the earthquakes whose magnitude is larger than 2.0
(10 points)

In [4]:
#Enter your codes here
eq[eq['Mag'] > 2.0]['Depth km'].mean()

45.59810606060604

### (d) Find the maximum depth of the earthquakes
(10 points)

In [5]:
#Enter your codes here
eq['Depth km'].max()

573.9

### (e) In which region(s) does the largest earthquake(s) happen?
(15 points)

In [6]:
#Enter your codes here
eq.loc[eq['Mag'] == eq['Mag'].max(), ['Region']]

                    Region
562  MINDANAO, PHILIPPINES

### (f) In which region(s) and at what year, month, day and time do the deepest earthquake(s) happen?
(20 points)

In [7]:
#Enter your codes here
eq.loc[eq['Depth km'] == eq['Depth km'].max(), ['Region', 'Year', 'Month', 'Day', 'Time UTC']]

        Region  Year  Month  Day  Time UTC
25  FLORES SEA  2019      2   10  22:54:37